<div id="<%= dom_id comment %>" class="row w-full sm:w-auto my-3">
  <div class="col-sm-4">
    <%= comment.body %>
  </div>
  <div class="col-sm-4">
    <%= comment.user_id %>
  </div>
  <div class="col-sm-4">
    <%= comment.post_id %>
  </div>
</div>
